# See https://docs.docker.com/engine/reference/builder/#dockerignore-file for more about ignoring files.

# Ignore git directory.
/.git/

# Ignore bundler config.
/web/.bundle

# Ignore all environment files (except templates).
/.env*
!/.env*.erb

# Ignore all default key files.
/web/config/master.key
/web/config/credentials/*.key

# Ignore all logfiles and tempfiles.
/web/log/*
/web/tmp/*
!/web/log/.keep
!/web/tmp/.keep

# Ignore pidfiles, but keep the directory.
/web/tmp/pids/*
!/web/tmp/pids/.keep

# Ignore storage (uploaded files in development and any SQLite databases).
/web/storage/*
!/web/storage/.keep
/web/tmp/storage/*
!/web/tmp/storage/.keep

# Ignore assets.
/web/node_modules/
/web/app/assets/builds/*
!/web/app/assets/builds/.keep
/web/public/assets
