<div class="container-flouid">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <%= image_tag 'logo.png', height: 50 %>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Favorite souvenirs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/departments">Departments</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/about">About</a>
          </li>
        </ul>
        <form class="">
          <% unless current_user %>
            <a class="btn btn-outline-primary mr-2" href="/users/sign_in">Login</a>
            <a class="btn btn-outline-success" href="/users/sign_up">Become member</a>
            <%else %>
            <%=link_to "Log out", destroy_user_session_path,{class:"btn btn-outline-danger", data:{turbo_method: :delete}} %>
          <% end %>
        </form>
      </div>
    </div>
  </nav>
</div>