<main class="container mt-3 pt-5 ">
  <div class=" bg-dark opacity-75 text-light p-3">
    <h1>Welcome to the Met Museum</h1>
    <p>The Metropolitan Museum of Art, often referred to as the Met, is one of the world's largest and most comprehensive art museums. It is located in New York City and has a vast collection of art from various cultures and time periods.</p>

    <h2>About Us</h2>
    <p>The Met Museum is dedicated to preserving, studying, exhibiting, and encouraging appreciation for works of art that collectively represent the broad spectrum of human achievement and creativity.</p>

    <h2>Exhibitions</h2>
    <p>Explore our current and upcoming exhibitions to experience a wide range of art forms, from paintings and sculptures to textiles and decorative arts.</p>

    <h2>Collections</h2>
    <p>Our collections include art from ancient civilizations, European paintings, Asian art, American art, and much more. Discover the treasures that await you at the Met Museum.</p>
  </div>

</main>
